html {
  scroll-behavior: smooth; /* fallback pentru browsere moderne */
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

body {
  padding-top: 80px; /* să nu fie acoperit de header */
}

nav a {
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #e67e22;
}
